* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

#kick-logo {
    height: 60px;
    width: 200px;
    flex-grow: 2;
    &:hover {
        cursor: pointer;
    }
}

.no-text-decoration {
    text-decoration: none;
}

.text-align-center {
    text-align: center;
}

.grid-container {
    overflow-y: auto;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: minmax(0, 1fr) minmax(0, 6fr);
    grid-template-areas: "header" "body";
    .grid-container__header {
        min-width: 100%;
        grid-area: header;
    }
    .grid-container__body {
        min-width: 100%;

        grid-area: body;
    }
}

body {
    position: flex;
    margin: 0;
    overflow: hidden;
    direction: rtl;
    font-size: calc(10px + 2vmin);
}

.app-header {
    height: 100vh;
    width: 100vw;
}
.rdw-editor-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    // grid-template-areas: "toolbar" "main";
    // grid-template-rows: 2fr 5fr;
    .rdw-editor-toolbar {
        z-index: 100;
        position: sticky;
        top: 0;
    }
    .rdw-editor-main {
        z-index: 0;
        flex-grow: 5;
        margin: 0;
        // overflow-y: hidden;
    }
}
